@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Hanken+Grotesk:wght@500;700;800&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:ital,wght@0,300;0,600;1,400&family=Red+Hat+Display:wght@500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 114px;
    margin-top: 16px;
}

.skilled{
    color: var(--13183F, #13183F);
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.get{
    width: 140px;
    height: 48px;
    border-radius: 28px;
    background: var(--13183F, #13183F);
    color: var(--FFFFFF, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    border: none;
}

.get:hover{
    background: #666CA3;
}

.maximize{
    width: 343px;
    color: var(--13183F, #13183F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 16px;
    margin-top: 38px;
}

.our{
    width: 343px;
    color: var(--83869A, #83869A);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-left: 16px;
    margin-top: 26px;
}

.gets{
    width: 140px;
    height: 48px;
    border-radius: 31.5px;
    background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    color: var(--FFFFFF, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    border: none;
    margin-top: 24px;
    margin-left: 16px;
}

.gets:hover{
    background: var(--Gradient-1-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.tablet{
    display: none;
}

.pc{
    display: none;
}

.cntnr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cntnr1{
    width: 343px;
    height: 120px;
    border-radius: 10px;
    background: var(--Gradient-1, linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.check{
    width: 286px;
    color: var(--FFFFFF, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
}

.box{
    width: 343px;
    height: 283px;
    margin-top: 16px;
    padding-left: 28px;
}

.head{
    color: var(--13183F, #13183F);
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 24px;
}

.learn{
    width: 286px;
    color: var(--83869A, #83869A);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 16px;
}

.started{
    color: var(--F74780, #F74780);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 24px;
}

footer{
    height: 120px;
    background: #13183F;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 114px;
}

.skill{
    color: var(--FFFFFF, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.start{
    width: 140px;
    height: 48px;
    border: none;
    border-radius: 28px;
    background: var(--Gradient-2, linear-gradient(180deg, #4851FF 0%, #F02AA6 100%));
    color: var(--FFFFFF, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.start:hover{
    background: var(--Gradient-2-Hover, linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%));
}

.started:hover{
    color: var(--FFA7C3, #FFA7C3);
}